{% extends "base.html" %}

{% block content %}
<h1>Probability Distributions</h1>

<ul>
  {% for ProbabilityDistribution in object_list %}
    <li class="ProbabilityDistribution">
	<a href="{{ ProbabilityDistribution.get_absolute_url }}">{{ ProbabilityDistribution }}</a>
    (<a href="{% url "probabilities-edit" pk=ProbabilityDistribution.id %}">edit</a>)
    {% if ProbabilityDistribution.id %}
	<a href="{% url "probabilities-delete" pk=ProbabilityDistribution.id %}">Delete</a>
	{% endif %}
    </li>
  {% endfor %}
</ul>

<a href="{% url "probabilities-new" %}">add probability distribution</a>
{% endblock %}
